!.keep
*.DS_Store
*.swo
*.swp
/.bundle
/.env.local
/coverage/*
/db/*.sqlite3
/dumps/*
/log/*
/public/system
/public/assets
/tags
/tmp/*
node_modules/*
.env
!.env.test.ci
latest.dump

credentials.json
